<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          placeholder="Enter title"
          name="listing[title]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter Title</div>
      </div>

      <!-- <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="link"
          placeholder="Enter URL/img"
          name="listing[image]"
          class="form-control"
        />
      </div> -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          type="file"
          placeholder="Enter URL/img"
          name="listing[image]"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          required
          class="form-control mb-3"
        >
Description</textarea
        >
        <div class="invalid-feedback">Enter Short Description</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="location" class="form-label">Location</label>
          <input
            type="location"
            placeholder="Enter location"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid Location</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            placeholder="Enter country"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter valid Country</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          placeholder="Enter price"
          name="listing[price]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter valid Price</div>
      </div>
      <div class="category mb-3">
        <select name="listing[category]" name="filter">
          <option value="Rooms">Rooms</option>
          <option value="Iconic Cities">Iconic Cities</option>
          <option value="Castles">Castles</option>
          <option value="historical home">historical home</option>
          <option value="Cabins">Cabins</option>
          <option value="Mensions">Mensions</option>
          <option value="Towers">Towers</option>
          <option value="Actic">Actic</option>
          <option value="Farms">Farms</option>
          <option value="Domes">Domes</option>
          <option value="Camping">Camping</option>
        </select>
      </div>

      <button class="btn btn-dark btn-sm mb-3">Add a Listing</button>
    </form>
  </div>
</div>
